{% load humanize %}
<div id="assets" class="section">
  <h2>Assets</h2>
  <ul class="actions">
    <li><a href="{% url admin:assets_asset_add %}">Add an asset</a></li>
    <li><a href="{% url reservations:scan %}">Check in/out assets</a></li>
  </ul>
  <h3>Summary</h3>
  <ul class="summary">
    <li>
      {% if assets %}
      <a href="{% url admin:assets_asset_changelist %}?catalog__id__exact={{ catalog.pk }}">
        {{ assets.count }} asset{{ assets.count|pluralize }}
      </a>
      {% else %}
      No assets
      {% endif %}
      in this catalog
    </li>
    <li>
      {% if reservations_out %}
      <a href="{% url admin:reservations_reservation_changelist %}?asset__catalog={{ catalog.pk }}&transaction_in__isnull=1">
        {{ reservations_out.count }} asset{{ reservations_out.count|pluralize }}
      </a>
      {% else %}
      No assets
      {% endif %}
      currently checked out
    </li>
    <li>
      {% if reservations_overdue %}
      <a href="{% url admin:reservations_reservation_changelist %}?asset__catalog={{ catalog.pk }}&transaction_in__isnull=1&due_date__lte={{ now|urlencode }}&ot=asc&o=5">
        {{ reservations_overdue.count }} asset{{ reservations_overdue.count|pluralize }}
      </a>
      {% else %}
      No assets
      {% endif %}
      overdue
    </li>
  </ul>
</div>
