#content h1 {
    margin-bottom: 0;
}

#content h2 {
    margin: 0;
}

.section {
    margin: 15px 15px 15px 30px;
}

.section h3 {
    font-size: 11px;
    margin: 5px 0;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section caption,
.section li.empty {
    font-size: 11px;
    color: #999;
    white-space: nowrap;
}

.column,
#assets,
#fines {
    float: left;
}

.column.left {
    max-width: 69%;
}

#calendar table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: separate;
    border-spacing: 0;
}

#calendar tr:last-child td {
    border-bottom: 0;
}

#calendar th {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    background: #fff url('../admin/img/admin/nav-bg.gif') repeat-x 0% 50%;
    color: #999;
}

#calendar td {
    line-height: 18px;
    height: 32px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 3px 6px 3px 4px;
    text-align: left;
    color: #666;
}

#calendar td:last-child,
#calendar th:last-child {
    border-right: 0;
}

#calendar td.today {
    background-color: #ffc;
    color: #430;
}

#calendar td.previous-month,
#calendar td.next-month {
    color: #aaa;
}

#calendar td .day {
    float: right;
    margin-left: 1em;
}

#calendar td.today .day {
    font-weight: bold;
}

#calendar td a {
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 3px;
    padding: 0 5px;
    background: #dadad0;
    color: #74746c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#calendar td a:hover {
    background: #e4e4dc;
}

#calendar td.today a {
    background: #dad8b4;
    color: #746e64;
}

#calendar td.today a:hover {
    background: #e2deba;
}

#calendar td a.overdue {
    background: #d55;
    color: #fff;
}

#calendar td a.overdue:hover {
    background: #e66;
    color: #fff;
}

#events {
    margin: 0;
    padding: 0;
    min-width: 300px;
}

#events li {
    list-style: none;
    padding: 0 1px;
}

#events a.related {
    float: left;
    width: 13px;
    height: 14px;
    background: url('../images/bullet.png') no-repeat 50% 60%;
    margin-right: 4px;
}

#events a.related:hover {
    background-image: url('../adminbrowse/images/goto.png') !important;
}

#events ul li:hover a.related {
    background-image: url('../adminbrowse/images/goto-faded.png');
}

#events li .timestamp {
    font-size: 10px;
    margin-left: 4px;
    color: #c8c9bc;
}

#events li.empty {
    padding: 3px 0;
}

#events ul,
#assets ul.summary {
    padding-left: 0;
    margin-bottom: 14px;
    color: #ccc;
}

#events ul li,
#assets ul.summary li {
    padding: 0;
    margin: 0 0 6px 0;
    color: #666;
    list-style: none;
}

#assets ul.summary li a {
    padding-left: 17px;
    background-image: url('../images/bullet.png');
    background-position: 4px 60%;
    background-repeat: no-repeat;
}

#assets ul.summary li:hover a {
    background-image: url('../adminbrowse/images/goto-faded.png');
    background-position: 0 60%;
}

#assets ul.summary li a:hover {
    background-image: url('../adminbrowse/images/goto.png');
    background-position: 0 60%;
}

.section ul.actions {
    font-size: 10px;
    padding: 0;
}

.section ul.actions li {
    display: inline;
    font-size: inherit;
    list-style-type: none;
    margin-right: 0.5em;
    padding: 0;
}

#activity-options {
    display: none;
    position: relative;
    font-size: 11px;
    background: #fff url('../admin/img/admin/nav-bg.gif') repeat-x 0% 115%;
    margin: 3px 0 14px 0;
    border: 1px solid #ccc;
    opacity: 1.0;
    z-index: 100;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#activity-options:before {
    display: block;
    float: left;
    font-size: 0;
    line-height: 0;
    content: url('../images/pointer-top.png');
    height: 8px;
    margin-top: -8px;
    margin-left: 50px;
}

#activity-options.loading {
    height: 32px;
    background-image: url('../images/scan-loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#activity-options input,
#activity-options select {
    vertical-align: baseline;
}

#activity-options ul {
    padding: 0 0 0 5px;
    margin: 5px 0;
}

#activity-options ul li {
    display: list-item;
    list-style: none;
    margin-bottom: 3px;
}

#activity-options ul li label {
    padding-left: 4px;
    margin-right: 8px;
    font-weight: normal;
}

#activity-options .options {
    font-weight: bold;
    padding: 5px 15px;
}

#activity-options .actions {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 7px;
    text-align: right;
}

#activity-options .actions .button {
    margin-left: 5px;
}

#activity-options .actions .button.default {
    float: right;
}

#due tr:first-child td {
    padding-top: 0;
}

#due td {
    line-height: 14px;
    padding-top: 2px;
    padding-bottom: 3px;
}

#due td.amount {
    font-weight: bold;
    color: #d55;
}

#events ul li.fine-paid .amount {
    font-weight: bold;
    color: #594;
}

