#content h1 {
    margin-bottom: 0;
}

#content h2 {
    margin: 0;
}

#content p.catalog {
    margin-bottom: 15px;
}

.section {
    margin: 0 30px 15px 15px;
}

#activity {
    float: right;
    min-width: 20%;
    max-width: 45%;
}

#assets {
    float: left;
}

#calendar table {
    border: 1px solid #ccc;
    border-collapse: separate;
    border-spacing: 0;
}

#calendar tr:last-child td {
    border-bottom: 0;
}

#calendar th {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    background: #fff url('../admin/img/admin/nav-bg.gif') repeat-x 0% 50%;
    color: #999;
}

#calendar td {
    line-height: 18px;
    height: 32px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 3px 6px 3px 4px;
    text-align: left;
    color: #666;
}

#calendar td:last-child,
#calendar th:last-child {
    border-right: 0;
}

#calendar td.today {
    background-color: #ffc;
    color: #430;
}

#calendar td.previous-month,
#calendar td.next-month {
    color: #aaa;
}

#calendar td .day {
    float: right;
    margin-left: 1em;
}

#calendar td.today .day {
    font-weight: bold;
}

#calendar td a {
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 3px;
    padding: 0 5px;
    background: #ddd;
    color: #666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#calendar td a:hover {
    text-decoration: underline;
}

#calendar td.today a {
    background: #d8d0b2;
    color: #646050;
}

#calendar td a.overdue {
    background: #d85454;
    color: #fff;
}

#events {
    margin: 0;
    padding: 0;
}

#events a.related {
    display: inline-block;
    vertical-align: bottom;
    width: 13px;
    height: 14px;
    background: url('../images/link.png') no-repeat 100% 75%;
    opacity: 0.3;
}

#events ul li:hover a.related {
    opacity: 0.5;
}

#events a.related:hover {
    opacity: 0.8 !important;
}

#events a.related:active {
    opacity: 1.0 !important;
}

.section h3 {
    font-size: 11px;
    margin: 5px 0;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#events li {
    list-style: none;
    padding: 0 1px;
}

#events ul,
#assets ul.summary {
    padding-left: 1.5em;
    margin-bottom: 8px;
    color: #ccc;
}

#events ul li,
#assets ul.summary li {
    list-style: url('../images/bullet.png') square;
    padding: 0;
    margin: 0 0 6px 0;
    color: #333;
}

#events li .timestamp {
    font-size: 10px;
    margin-left: 2px;
    color: #b2b2ac;
}

.section ul.actions {
    font-size: 10px;
    padding: 0;
}

.section ul.actions li {
    display: inline;
    font-size: inherit;
    list-style-type: none;
    margin-right: 0.5em;
    padding: 0;
}

.section ul.actions a {
    border-bottom: 1px solid #d8e2ec;
}

.section ul.actions a:hover {
    border-bottom: 1px solid #a2aabc;
}

#due tr:first-child td {
    padding-top: 0;
}

#due td {
    line-height: 14px;
    padding-top: 2px;
    padding-bottom: 3px;
}

#due td.amount {
    font-weight: bold;
    color: #594;
}

.section caption,
.section li.empty {
    font-size: 11px;
    color: #999;
    white-space: nowrap;
}

#events li.empty {
    padding: 3px 0;
}
