#content h1 {
    margin-bottom: 0;
}

#content h2 {
    margin: 0;
}

#content p.catalog {
    margin-bottom: 15px;
}

.scan {
    float: left;
    clear: left;
    margin: 0 30px 15px 15px;
}

.scan form label {
    float: left;
    width: 90px;
    line-height: 2;
    color: #666;
}

input.query {
    position: relative;
    font-size: 12px;
    line-height: 1.5;
    width: 500px;
    margin-top: 0;
    z-index: 100;
}

input.query:focus {
    background-color: #ffc;
}

.result {
    position: relative;
    width: 508px;
    margin: 0 0 4px 0;
    z-index: 90;
}

.result .header {
    background: #417690;
    padding: 6px;
}

.result h3 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #fff;
}

.result h4 {
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #cdd;
}

.result dl.details {
    background: #eef8ff;
    margin: 0;
    padding: 5px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.result dl.details dt {
    float: left;
    width: 75px;
    font-size: 11px;
    font-weight: bold;
    line-height: 2;
    margin: 0 0 0 2px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#asset.result dl.details dt {
    width: 100px;
}

.result dl.details dd {
    font-size: 11px;
    line-height: 2;
    margin: 0;
    padding: 0 2px;
    border-bottom: 1px solid #dde;
}

.result dl.details dd:last-child {
    border-bottom: 0;
}

#transaction {
    margin-bottom: 15px;
}

button.browse {
    position: relative;
    width: 30px;
    height: 24px;
    vertical-align: top;
    padding: 0;
    margin: 0 0 0 2px;
    background: #eee url('../images/browse-menu.png') no-repeat 1px 5px;
    border: 1px solid #ccc;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 100;
}

button.browse.open {
    height: 27px;
    border-bottom: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}

div.browse {
    display: none;
    position: relative;
    top: -1px;
    border: 1px solid #ccc;
    padding: 6px;
    background: #eee;
    z-index: 90;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.browse.loading {
    height: 32px;
    background-image: url('../images/browse-loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


div.browse h3 {
    font-size: 12px;
    line-height: 2;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-shadow: #fff 1px 1px 0;
}

div.browse h3 a.all {
    font-size: 11px;
    line-height: 1;
    font-weight: normal;
    margin-left: 0.5em;
    text-shadow: none;
}

div.browse table {
    width: 100%;
}

div.browse th {
    background: transparent;
    color: #999;
    border-top: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    letter-spacing: 1px;
}

div.browse tbody tr:hover td {
    cursor: pointer;
    background: #417690;
    color: #fff;
}

div.browse caption {
    font-size: 11px;
    color: #999;
    padding: 5px;
}

#customers,
#assets {
    max-height: 283px;
    overflow: auto;
}
