{% extends "admin/change_form.html" %}
{% load availability %}

{% block object-tools %}
{% if not add %}
<div id="info-panel">
  <div id="summary">
    <h2>Summary</h2>
    <ul class="details">
      <li>{% show_availability original %}</li>
      {% with original.reservations.count as checkout_count %}
      <li>Checked out <span class="count">{{ checkout_count }}</span>
          time{{ checkout_count|pluralize }} overall <a href="" class="related"></a></li>
      {% endwith %}
      {% if original.bundle %}
      {% with original.bundle.bundled_assets.count as bundled_count %}
      <li>Bundled with <span class="count">{{ bundled_count }}</span> other
        asset{{ bundled_count|pluralize }} <a href="" class="related"></a></li>
      {% endwith %}
      {% else %}
      {% with original.bundled_assets.count as bundled_count %}
      {% if bundled_count %}
      <li>Bundled with <span class="count">{{ bundled_count }}</span> other
        asset{{ bundled_count|pluralize }} <a href="" class="related"></a></li>
      {% else %}
      <li>Bundled with no other assets</li>
      {% endif %}
      {% endwith %}
      {% endif %}
    </ul>
  </div>
  <div id="activity">
    <h2>Activity</h2>
    <ul class="events">
      <li>Checked in by Brian Beck <a href="" class="related"></a>
        <span class="timestamp">yesterday at 5 p.m.</span></li>
      <li>Asset became overdue <a href="" class="related"></a>
        <span class="timestamp">1 day, 5 hours ago</span></li>
      <li>Checked out by Brian Beck <a href="" class="related"></a>
        <span class="timestamp"></span></li>
      <li>Added by Marc Tomko <a href="" class="related"></a>
        <span class="timestamp"></span></li>
    </ul>
  </div>
</div>
{% endif %}
{% endblock %}
