{% load textutils %}
<div>
  <h3>
    Browse assets
    {% if query %}
    <span class="query">matching &#147;{{ query }}&#148;</span>
    {% endif %}
    by {{ filter }}
    {% if filter != "type" %}
    <a href="{% url assets:browse-assets transaction_key %}?query={{ query|urlencode }}&filter=type" class="filter">Browse by type</a>
    {% endif %}
    {% if filter != "manufacturer" %}
    <a href="{% url assets:browse-assets transaction_key %}?query={{ query|urlencode }}&filter=manufacturer" class="filter">Browse by manufacturer</a>
    {% endif %}
  </h3>
  {% if filter == "type" %}
  <ul id="types" class="filter">
    {% for product_type in product_types %}
    <li><a href="javascript:void(0)">{{ product_type }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if filter == "manufacturer" %}
  <ul id="manufacturers" class="filter">
    {% for manufacturer in manufacturers %}
    <li><a href="javascript:void(0)">{{ manufacturer }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  <!--
  <div id="assets">
    <table>
      {% if not assets %}
      <caption align="bottom">No assets found.</caption>
      {% endif %}
      <thead>
        <tr><th>Barcode</th><th>Product</th></tr>
      </thead>
      <tbody>
        {% for asset in assets %}
        <tr>
          <td class="barcode">{{ asset.barcode }}</td>
          <td class="product">{{ asset.product|truncate:60 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  -->
</div>
