{% load textutils %}
<div>
  <h3>
    Browse assets
    {% if query %}
    <span class="query">matching &#147;{{ query }}&#148;</span>
    {% endif %}
    {% if filter %}by {{ filter }}{% endif %}
    {% if filter == "manufacturer" and manufacturer %}&#147;{{ manufacturer }}&#148;{% endif %}
    {% if filter == "type" and product_type %}&#147;{{ product_type }}&#148;{% endif %}
    {% if filter != "manufacturer" %}
    <a href="{% url assets:browse-assets transaction_key %}?catalog={{ catalog.id }}&query={{ query|urlencode }}&filter=manufacturer" class="filter">Browse by manufacturer</a>
    {% endif %}
    {% if filter != "type" %}
    <a href="{% url assets:browse-assets transaction_key %}?catalog={{ catalog.id }}&query={{ query|urlencode }}&filter=type" class="filter">Browse by type</a>
    {% endif %}
  </h3>
  {% if filter == "manufacturer" and not manufacturer %}
  <ul id="manufacturers" class="filter">
    {% for manufacturer in manufacturers %}
    <li><a href="{% url assets:browse-assets transaction_key %}?catalog={{ catalog.id }}&query={{ query|urlencode }}&filter=manufacturer&manufacturer={{ manufacturer.id }}">{{ manufacturer }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if filter == "type" and not product_type %}
  <ul id="types" class="filter">
    {% for product_type in product_types %}
    <li><a href="{% url assets:browse-assets transaction_key %}?catalog={{ catalog.id}}&query={{ query|urlencode }}&filter=type&type={{ product_type.id }}">{{ product_type }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if assets != None %}
  <div id="assets">
    <table>
      {% if not assets %}
      <caption align="bottom">No assets found.</caption>
      {% endif %}
      <thead>
        <tr><th>Barcode</th><th>Product</th></tr>
      </thead>
      <tbody>
        {% for asset in assets %}
        <tr>
          <td class="barcode">{{ asset.barcode }}</td>
          <td class="product">{{ asset.product|truncate:60 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
