{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" media="all" href="{% admin_media_prefix %}css/forms.css"/>
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/scan.css"/>
{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.min.js"></script>
{{ media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url admin:index %}">{% trans "Home" %}</a> &rsaquo; New transaction
</div>
{% endblock %}

{% block content %}

<p class="help catalog">{{ catalog }}</p>

<div id="scan-customer" class="scan">
  <h2>Customer</h2>
  <form id="customer-form" method="POST" action="{% url institution:scan-customer transaction_key %}">
    <p class="help">{{ customer_form.query.help_text }}</p>
    {% spaceless %}
    <div>
      {{ customer_form.query }}
      <button id="customer-browse" class="browse" type="button" title="Browse users"></button>
    </div>
    {% csrf_token %}
    {% endspaceless %}
  </form>
  <div id="customer-browser" class="browse"></div>
</div>
<div id="scan-asset" class="scan">
  <h2>Add asset</h2>
  <form id="asset-form" method="POST" action="{% url assets:scan-asset transaction_key %}">
    <p class="help">{{ asset_form.query.help_text }}</p>
    {% spaceless %}
    <div>
      {{ asset_form.catalog }}
      {{ asset_form.query }}
      <button id="asset-browse" class="browse" type="button" title="Browse assets"></button>
    </div>
    {% csrf_token %}
    {% endspaceless %}
  </form>
  <div id="asset-browser" class="browse"></div>
</div>
<div id="transaction">
  <h2>Transaction summary</h2>
  <p class="help">Scan items to add them to this transaction.</p>
  <div id="transaction-assets" class="empty">There are no assets in this transaction.</div>
  <div class="submit-row">
    <input type="submit" class="default" value="Complete transaction"/>
  </div>
</div>

{% endblock %}
