{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/scan.css" />
{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/scan.js"></script>
{% endblock %}


{% block bodyclass %}scan{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url admin:index %}">{% trans "Home" %}</a> &rsaquo; Scan
</div>
{% endblock %}

{% block content %}

<h2 class="catalog">{{ catalog }}</h2>

<div id="scan-customer">
  <form id="customer-form" method="POST" action="{% url institution:scan-customer transaction_key %}">
    <h2>Customer</h2>
    <div>
      {{ customer_form.query.label_tag }} {{ customer_form.query }}
      <p class="help">{{ customer_form.query.help_text }}</p>
      {{ customer_form.customer }}
    </div>
    {% csrf_token %}
  </form>
</div>

{% endblock %}
