{% load textutils %}
<div id="customer" class="result" data-bind="visible: !browser.open()">
  <div class="header">
    <h3>{{ customer.get_full_name|default:customer.username }}</h3>
    {% if customer.departments.count %}<h4>{{ customer.departments.all|join:"," }}</h4>{% endif %}
  </div>
  <dl class="details">
    <dt>Assets</dt>
    <dd class="assets">None</dd>
    <dt>Fines</dt>
    <dd class="fines">{{ fines|dollars }}</dd>
    <dt>Notes</dt>
    <dd class="notes">None</dd>
  </dl>
</div>
