{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {{ site.name|default:"Checkout" }} Administration{% endblock %}

{% block extrastyle %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/admin.css"/>
{% endblock %}

{% block branding %}
<h1 id="site-name">{{ site.name|default:"Checkout" }} Administration</h1>
{% endblock %}

{% block nav-global %}
{% if user.is_authenticated and user.is_staff %}
<div id="checkout-tools">
    <a href="{% url reservations:scan %}">Scan</a> &bull;
    <a href="{% url admin:assets_product_changelist %}">Products</a> &bull;
    <a href="{% url admin:assets_asset_changelist %}">Assets</a> &bull;
    <a href="{% url admin:auth_user_changelist %}">Users</a> &bull;
    <a href="{% url admin:reservations_transaction_changelist %}">Transactions</a> &bull;
    <a href="{% url admin:extras_note_changelist %}">Notes</a>
</div>
{% endif %}
{{ block.super }}
{% endblock %}
