{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/dashboard.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url admin:index %}">{% trans "Home" %}</a> &rsaquo; Dashboard
</div>
{% endblock %}

{% block content %}

<p class="help catalog">{{ catalog }}</p>

<div class="column">
  {% include "dashboard/includes/calendar.html" %}
  {% include "dashboard/includes/assets.html" %}
  {% include "dashboard/includes/fines.html" %}
  {% include "dashboard/includes/notes.html" %}
</div>
<div class="column">
  {% include "dashboard/includes/activity.html" %}
</div>

{% endblock %}
